.imageLogo {
    width: 7rem;
    height: 4rem;  
}
.style-input {
    width: 21rem;
    height: 4rem;
    margin: 0.5rem 1rem 0.5rem 1rem;   
}
.style-button {
    width: 21rem;
    height: 3rem;
    margin: 2rem 1rem 0.5rem 1rem;
    background-color: #e8222e;
}
.style-tittle {
    margin: 1rem 1rem 2rem 1rem;
}